/****** Header - Section des infos du photographe ******/

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.photograph-header article h2 {
    color: #D3573C;
    font-weight: 300;
    font-size: 56px;
    margin: 0;
}

.photograph-header article h3 {
    color: #901C1C;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

.photograph-header article h4 {
    color: #525252;
    font-weight: 100;
    font-size: 18px;
    margin: 16px 0;
}

/****** Filtres - Affichage du filtre de tri ******/

.photograph-medias {
    margin: 0 50px;
}

.medias-filter {
    display: flex;
    height: 100%;
    margin: 20px 0;
}

.medias-filter label{
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 20px;
}

#filter {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: auto;
    padding: 10px;
    color: #FAFAFA;
    background-color: #901C1C;
    border-radius: 5px;
    position: absolute;
    margin-left: 100px;
    margin-top: 0;
    font-size: 20px;
    list-style-type: none;
}

.open {
    display: flex;
    flex-direction: column;
}

.filter-option {
    padding: 10px 5px;
    color: #FAFAFA;
    background-color: #901C1C;
    border: none;
    font-size: 20px;
    text-align: start;
    z-index: 10;
    cursor: pointer;
}

.filter-options-container {
    display: none;
    flex-direction: column;
}

#date {
    border-top: 1px solid #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
}

.icon-filter {
	position: absolute;
    display: inline-block;
	top: 20px; 
	right: 10%;
    font-size: 23px;
	color: #FAFAFA;
    z-index: 100;
}

.icon-rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

/****** Medias ******/

.photograph-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 100px;
}


.media-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    width: 100%;
}

.media-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 30px 0;
}


.media-image, .media-video {
    width: 100%;
    height: 330px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.media-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.media-info h3 {
    font-size: 20px;
    color: #901C1C;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
}



/****** Likes - Icone et nombre de likes sous un média ******/


.media-likes span {
    font-size: 20px;
    margin-right: 10px;
}

.liked {
    color: #901C1C;
    font-weight: 600;
}

.icon-heart {
    color: #901C1C;
    font-size: 22px;
    cursor: pointer;
}


/****** Sticky Element - Encart du total des likes et du tarif journalier ******/

.sticky {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 20px;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 600;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.sticky-likes {
    display: flex;
    align-items: center;
}

.sticky-likes p {
    padding: 0 12px;
}



/****** Lightbox ******/


.lightbox-container {
    background-color: #FAFAFA;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.lightbox-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.lightbox-previous,
.lightbox-next,
.lightbox-close {
    background-color: #FAFAFA;
    color: #901C1C;
    border: none;
}

.lightbox-previous i,
.lightbox-next i,
.lightbox-close i {
    font-size: 50px;
}

.lightbox-close {
    position: absolute;
    top: 5%;
    right: 3%;
}

.lightbox-media img,
.lightbox-media video {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}

.lightbox-title {
    color: #901C1C;
    font-weight: normal;
    font-size: 22px
}


/****** Modale de contact ******/


#contact_modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}


#contact-title {
    font-size: 56px;
    font-weight: 100;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    max-width: 100%;
}

#contact-title h2 {
    margin: 0;
    padding: 0;
}


.modal header {
    box-sizing: border-box;
    display: flex;
    height: 150px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 70px;
}

.modal header img {
    cursor: pointer;
    text-align: start;
    margin-top: 16px;
}

.contact_button {
    font-size: 20px;
    color: white;
    padding: 8px;
    width: 150px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DB8876;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    width: 600px;
    height: 800px;
    padding: 35px;
    margin: auto;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

.form-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.error-text {
    color: #901C1C;
    margin-top: 0;
    height: 18px;
    max-height: 18px;
}

form input, form textarea {
    box-sizing: border-box;
    font-size: 22px;
    text-align:left;
    width: 100%;
    height: 56px;
    margin: 0;
    border: 0;
    border-radius: 5px;
    resize: none;
}

#message {
    height: 150px;
}